<a href="https://colab.research.google.com/github/nurfaiz88/Google-Colab/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DAY 1 CODING

In [ ]:
# FIRST PROGRAM(This is a comment)

print("Hello World")

Hello World

# Variables

In [ ]:
counter = 100 # An integer number
miles = 1000.0 # A floating point number
name = "John" # A string

a = b = c = 1

a, b, c = 1 ,2 , "john"

Print the Variable data type

In [ ]:
print(type(counter))
print(type(miles))
print(type(name))
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'int'>

# Data types

# Numeric Data type

In [ ]:
#Integer
print(10)
type(10)

10

int

In [ ]:
#Float
print(int(21.89)) 
print(type(21.89))
print(float(8))

21
<class 'float'>
8.0

In [ ]:
#Complex
print(2+3j)
print(type(2+3j))

(2+3j)
<class 'complex'>

In [ ]:
#BUILT IN FUNCTIONS IN NUMBER DATATYPE
a=5
b=6
print(min(a,b))
print(max(a,b))
print(round(1.3))   # gives 1
print(round(1.7))   # gives 2
print(round(-1.3))  # gives -1
print(round(-1.7))  # gives -2
#round(number, number of digits)
c=9.453
print(round(c,1))

5
6
1
2
-1
-2
9.5

In [ ]:
#Mathematical Functions
import math
print(math.log(a))
print(math.log10(a))
a=10
print(pow(a,b))

d=8
print(math.exp(d))#Returns the exponent of x

print(math.floor(-8.79))#Returns smallest integer not greater than x.
print(math.floor(8.79))
print(math.ceil(-8.79))#Returns largest integer not greater than x.
print(math.ceil(8.49))

number = -12.08# When the input is a floating point number# 
print(abs(number)) 
print(math.fabs(number)) 
number = -10#when the variable is integer
print(abs(number)) # abs() will return an integer as an real integer
print(math.fabs(number)) # fabs() will return a floating point number 

print(math.sqrt(2))

1.6094379124341003
0.6989700043360189
1000000
2980.9579870417283
-9
8
-8
9
12.08
12.08
10
10.0
1.4142135623730951

In [ ]:
#Trignometric functions
print(math.sin(30))
print(math.cos(30))
print(math.tan(30))
print(math.degrees(6.2831))#convert radians to degrees
print(math.radians(360))#convert degrees to radians


#Find the area of the circle

r=5#declare the radius of circle is 5cmS
area=math.pi*r*r
print(area)

-0.9880316240928618
0.15425144988758405
-6.405331196646276
359.99511225864757
6.283185307179586

In [ ]:
#Random number generation

import random
print(random.random())# Print a random number between 0 to 1
print(random.randint(1,10))# print random numbers between the range

0.6032623965113961
7

In [ ]:
#Challenge 
#fill in the space 

print(math.sqrt(9))
print(int(math.sqrt(16)))
print(int(math.sqrt(100)))
print(math.degrees(math.pi))
print(random.randint(4,7))

3.0
4
10
180.0
5

# List

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5, 6, 7 ]#list start with index 0 to n-1 

print(list1)
print(list2)

['physics', 'chemistry', 1997, 2000]
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#Accessing a list

print ("list1[0]: ", list1[0])#prints the first position element in the list1
print ("list2[1:5]: ", list2[1:5]) #prints the element from 1st position until 4th position in the list1
print(list1[:3])  # prints the element from starting position until 2nd position in the list 2
print(list2[2:])  #Prints the element from 2nd position until the last value in the list 2
print(list2[:]) #Prints the entire list2

list1[0]:  physics
list2[1:5]:  [2, 3, 4, 5]
['physics', 'chemistry', 1997]
[3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#Updating a list
list = ['physics', 'chemistry', 1997, 2000]
print ("Value available at index 2 : ")
print (list[2])
list[2] = 2001
print ("New value available at index 2 : ")
print (list[2])

Value available at index 2 :
1997
New value available at index 2 :
2001

In [ ]:
#Delete a list 
list1 = ['physics', 'chemistry', 1997, 2000]
print (list1)
del list1[2]
print ("After deleting value at index 2 : ")
print (list1)

['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :
['physics', 'chemistry', 2000]

In [ ]:
#BUILD IN  LIST OPERATIONS3	
print(len([1, 2, 3]))	
print([1, 2, 3] + [4, 5, 6])	
print(['Hi!'] * 4)
print(3 in [1, 2, 3])	
for x in [1,2,3] : 
    print (x,end = ' ')

3
[1, 2, 3, 4, 5, 6]
['Hi!', 'Hi!', 'Hi!', 'Hi!']
True
1 2 3

In [ ]:
#BUILD IN LIST FUNCTIONS & METHODS
a=['apple','banana',1987,1985,1985]
b=[1,2,3,4,5,6,7]


print(len(a))#returns the length of a list
print(max(b))# returns maximum value in the list
print(min(b))# returns the minimum value in the list

a.append('mango')#append another object to the list
print(a[:])

print(a.count(1985))# Count the number of times the object in the list

5
7
1
['apple', 'banana', 1987, 1985, 1985, 'mango']
2

In [ ]:
print(a.index('mango'))

a.remove('banana')
print(a)

5
['apple', 1987, 1985, 1985, 'mango']

In [ ]:
b.reverse()
print(b)

[7, 6, 5, 4, 3, 2, 1]

In [ ]:
#inserting the list
vowel = ['a', 'e', 'i', 'u']
# inserting element to list at 4th position
vowel.insert(3, 'o')
print('Updated List: ', vowel)

Updated List:  ['a', 'e', 'i', 'o', 'u']

In [ ]:
# Remove the particular object in list
animal = ['cat', 'dog', 'rabbit', 'guinea pig']
# 'rabbit' element is removed
animal.remove('rabbit')
#Updated Animal List
print('Updated animal list: ', animal)

Updated animal list:  ['cat', 'dog', 'guinea pig']

In [ ]:
#COPY WITH SLICE OPERATOR
list1 = ['a','b','c','d']
list2 = list1[:]
list2[1] = 'x'
print(list2)
print(list1)

['a', 'x', 'c', 'd']
['a', 'b', 'c', 'd']

In [ ]:
#COPY WITH SLICE BUT IT CONTAIN SUBLIST
lst1 = ['a','b',['ab','ba']]
lst2 = lst1[:]
lst2[0] = 'c'
lst2[2][1] = 'd'
print(lst2)
print(lst1)

['c', 'b', ['ab', 'd']]
['a', 'b', ['ab', 'd']]

In [ ]:
#SHALLOW COPY DEEP COPY

import copy 
 # initializing list 1  
li1 = [1, 2, [3,5], 4] 
# using copy for shallow copy   
li2 = copy.copy(li1)  
# using deepcopy for deepcopy   
li3 = copy.deepcopy(li1)  
li2[2][0] = 7
print(li2)
print(li1)
print(li3)

[1, 2, [7, 5], 4]
[1, 2, [7, 5], 4]
[1, 2, [3, 5], 4]

In [ ]:
#Challenge
import collections

letters =['A','C','C','A','T','T','G','A','C','A']

#Analyze the letters
print(collections.Counter(letters))

#Count A in letters
print(letters.count('A'))

#Find out first location of letter"T"
print(letters.index('T'))


#Manipulate the letter
print(letters[2:])

#Copy (DEEP) from original letters to letters2
 
letters2=copy.deepcopy(letters)
print(letters2)

#Remove G from letters2
letters2.remove('G')
print(letters2)

#Insert A in index 3 in letters2
letters2.insert(3,"A")

#Reverse the order of new letters
letters2.reverse()
print(letters2)

Counter({'A': 4, 'C': 3, 'T': 2, 'G': 1})
4
4
['A', 'C', 'C', 'A', 'T', 'T', 'G', 'A', 'C', 'A']
['A', 'C', 'C', 'A', 'T', 'T', 'A', 'C', 'A']
['A', 'C', 'A', 'T', 'T', 'A', 'A', 'C', 'C', 'A']

# Tuple

In [ ]:
#Tuple
a1 = ("apples", "bananas", "oranges")
print(a1)

#list
b1 = ["apples", "bananas", "oranges"]
print(b1)
#Difference between tuple and list
b1[0]="Berries"
print(b1)

('apples', 'bananas', 'oranges')
['apples', 'bananas', 'oranges']
['Berries', 'bananas', 'oranges']

In [ ]:
#Accessing Tuples
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

In [ ]:
#Updating Tuples
tup=(12,34.56)
tup[0]=100
print(tup)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#TUPLE OPERATIONS
a2=("apples", "bananas", "oranges")
a3=(1,2,3)
print(len(a2))#length
print(a2+a3)#concatenation
print(a2*2)#Repetition
print('apples' in a2)#Membership
for x in (1,2,3):
    print(x)# iteration

3
('apples', 'bananas', 'oranges', 1, 2, 3)
('apples', 'bananas', 'oranges', 'apples', 'bananas', 'oranges')
True
1
2
3

In [ ]:
#BUILD IN TUPLE FUNCTIONS
tuple1, tuple2 = (123, 'xyz', 'zara'), (456, 'abc')
print ("First tuple length : ", len(tuple1))
print ("Second tuple length : ", len(tuple2))
tuple1, tuple2 = ('maths', 'che', 'phy', 'bio'), (456, 700, 200)
print ("min value element : ", min(tuple1))
print ("min value element : ", min(tuple2))
tuple1, tuple2 = ('maths', 'che', 'phy', 'bio'), (456, 700, 200)
print ("Max value element : ", max(tuple1))
print ("Max value element : ", max(tuple2))
list1 = ['maths', 'che', 'phy', 'bio']
tuple1 = tuple(list1)
print ("tuple elements : ", tuple1)

First tuple length :  3
Second tuple length :  2
min value element :  bio
min value element :  200
Max value element :  phy
Max value element :  700
tuple elements :  ('maths', 'che', 'phy', 'bio')

In [ ]:
#Challenge
#With a given tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
#Write a program to print the first half values in one line and the last half values in one line.
tp=(1,2,3,4,5,6,7,8,9,10)

tp1=tp[:5]

tp2=tp[5:]

print(tp1)

print(tp2)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

# Dictionary

In [ ]:
d1 = dict(a=1, b=2)
d2 = {'a': 1, 'b': -1}
d3 = dict(zip(['a', 'b'], [1, 2]))
d4 = dict([('a', 1), ('b', 3)])
d5 = dict({'b': 2, 'a': 1})

In [ ]:
print(d1)
print(d2)
print(d3)
print(d4)
print(d5)

{'a': 1, 'b': 2}
{'a': 1, 'b': -1}
{'a': 1, 'b': 2}
{'a': 1, 'b': 3}
{'b': 2, 'a': 1}

In [ ]:
#Accessing Values in Dictionary
dict1 = {'Name': 'Zara', 'Age': 7, 'Class':'First'}
print ("dict1['Name']: ", dict1['Name'])
print ("dict1['Age']: ", dict1['Age'])

dict1['Name']:  Zara
dict1['Age']:  7

In [ ]:
#Update Dictionary
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict1['Age'] = 8 # update existing entry
dict1['School'] = "DPS School" # Add new entry

print ("dict1['Age']: ", dict1['Age'])
print ("dict1['School']: ", dict1['School'])

dict1['Age']:  8
dict1['School']:  DPS School

In [ ]:
#Delete Dictionary
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del dict1['Name'] # remove entry with key 'Name'
print(dict1)
dict1.clear() # remove all entries in dict
print(dict1)
del dict1 # delete entire dictionary
print(dict1)

{'Age': 7, 'Class': 'First'}
{}

NameError: name 'dict1' is not defined

In [ ]:
#Dictionary Buil-In Functions

# create a dictionary
squares = {1:1, 2:4, 3:9, 4:16, 5:25} 
# remove a particular item
# Output: 16
print(squares.pop(4))  

# Output: {1: 1, 2: 4, 3: 9, 5: 25}
print(squares)

# remove an arbitrary item
# Output: (1, 1)
print(squares.popitem())

# Output: {2: 4, 3: 9, 5: 25}
print(squares)

del squares[3]
print(squares)

16
{1: 1, 2: 4, 3: 9, 5: 25}
(5, 25)
{1: 1, 2: 4, 3: 9}
{1: 1, 2: 4}

In [ ]:
#insert and update elements in a dictionary
my_dict = {'name':'Jack', 'age': 26}

# update value
my_dict['age'] = 27

#Output: {'age': 27, 'name': 'Jack'}
print(my_dict)

# add item
my_dict['address'] = 'Downtown'  
print(my_dict)


#get in dictionary
person = {'name': 'Phill', 'age': 22}

print('Name: ', person.get('name'))
print('Age: ', person.get('age'))

# value is not provided
print('Salary: ', person.get('salary'))

# value is provided
print('Salary: ', person.get('salary', 10))
print(person)

{'name': 'Jack', 'age': 27}
{'name': 'Jack', 'age': 27, 'address': 'Downtown'}
Name:  Phill
Age:  22
Salary:  None
Salary:  10
{'name': 'Phill', 'age': 22}

In [ ]:
#Copy in DIctionary
#copy in dictionary
#SHALLOW COPY
wordsDict = {
    "Hello": 56,
    "at" : 23 ,
    "test" : 43,
    "this" : 43,
    "who" : [56, 34, 44]
    }
newDict = wordsDict.copy()
newDict["at"] = 200
newDict["who"].append(222)
print(newDict)
print(wordsDict)


#Deep copy in dictionary

from copy import deepcopy
wordsDict = {
    "Hello": 56,
    "at" : 23 ,
    "test" : 43,
    "this" : 43,
    "who" : [56, 34, 44]
    }
# Create a deep copy of the dictionary
newDict = deepcopy(wordsDict)
newDict["at"] = 200
newDict["who"].append(100)
print(newDict)
print(wordsDict)

In [ ]:
#Challenge

thisdict = dict('apple'="green", 'banana'="yellow", 'cherry'="red")

#Remove apple
print(thisdict.pop('apple'))
print(thisdict)

#Add durian
thisdict['durian'="green"]
print(thisdict)

#How many elements?
print(len(thisdict))


#Create a shallow copy
newDict = thisdict.copy()
newDict["grapes"] = "green"
print(newDict)
print(thisDict)

#Create a deep copy
newDict1 = deepcopy(thisdict)
newDict1["grapes"] = "green"
print(newDict1)
print(thisDict)

# Set

In [ ]:
#SET
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}
C = {1, 2, 4, 5}

In [ ]:
#Built in functions

print(A.issubset(B))
print(B.issubset(A))
print(A.intersection(B))# This can be print(A & B)
print(A.union(B)) #This can be  print(A | B)
print(A.difference(C))#This can be  print(A - B)
print(A in B)
print(B not in A)
print(B.issuperset(A))

In [ ]:
#Challenge
engineers = set(['John', 'Jane', 'Jack', 'Janice'])
programmers = set(['Jack', 'Sam', 'Susan', 'Janice'])
managers = set(['Jane', 'Jack', 'Susan', 'Zack'])


#Who are employees?
employees = engineers | programmers | managers   
print(employees)

#Who are engineers and managers?
engineering_management = engineers & managers   
print(engineering_management)

# Strings

In [ ]:
a = "Hello"
b = "Python"
print(a)
print(b)

In [ ]:
var1 = 'Hello World!'
var2 = "Python Programming"
print ("var1[0]: ", var1[0])
print ("var2[1:5]: ", var2[1:5])

In [ ]:
#string concatenation
str1 = 'Hello'
str2 ='World!'

# using +
print('str1 + str2 = ', str1 + "  " +str2)

# using *
print('str1 * 3 =', str1 * 3)

#string Iteration
count = 0
for letter in 'Hello World':
    if(letter == 'l'):
        count += 1
print(count,'letters found')



#string membership
print('a' in 'program')
print('at' not in 'battle')

In [ ]:
#other string functions
st="saranya"
print(st.capitalize())
#find the position
str1 = "this is string example....wow!!!";
str2 = "exam";
print(str1.find(str2))
print(str1.find(str2, 9))
print(str1.find(str2, 20))
# checks endswith
str = "this is string example....wow!!!";
suffix = "wow!!!";
print(str.endswith(suffix))
print(str.endswith(suffix,20))

#replace
str = "this is string example....wow!!! this is really string"
print(str.replace("is", "was"))
print(str.replace("is", "was", 3))
#split
str = "Line1-abcdef \nLine2-abc \nLine4-abcd";
print(str.split( ))
print(str.split(' ', 1 ))
#swapcase
str = "this is string example....wow!!!";
print(str.swapcase())
str = "THIS IS STRING EXAMPLE....WOW!!!";
print(str.swapcase())
#Title
str = "this is string example....wow!!!";
print(str.title())

In [ ]:
#String Formatting
name = "John"
print("Hello, %s!" % name)
print("Hello, {}!" .format(name))
print(f "Hello, {name}!")

#Old Style
template = "%s is %d years old."
name = "John"
age = 23
print(template % (name, age)) # This prints out "John is 23 years old."

template = "A list: %s"
mylist = [1,2,3]
print(template % mylist)

#New Style
template = "{} + {} = {}"
a = 3.4567
b = 4
c = a +b
print(template.format (a, b, c))

template = "{1} + {0} = {2}"
print(template.format(a, b, c))


template = "{:0.2f} + {:0.2f} = {:0.2f}"
print(template.format (a, b, c))

template = "{0:0.2f} + {1:0.2f} = {2:0.2f}"
print(template.format (a, b, c))

In [ ]:
#Challenge

a = 'abc@def.com'
#Print out the user name and domain name
print(a.split('@'))

In [ ]:
#Challenge

#You have to write a format string which prints out the following sentence:

#Hello John Doe. Your current balance is $53.44

#Given this data tuple
data = ("John", "Doe", 53.44)
format_string = "Hello %s %s. Your current balance is $%s."
print(format_string % data)
#OR
data=("John","Doe",53.44)
format_string="Hello"
print("{0} {1} {2} Your current balance is {3}".format(format_string,*data))# *data unpacks the content of data

In [ ]:
#Challenge

country = "France"
capital = "paris"

#Print out the following sentence using {} method
#The capital of FRANCE is Paris

print("The capital of {0} is {1}".format(country,capital))

# Operators

In [ ]:
 #1: Arithmetic operators in Python
x = 15
y = 4
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y)
print(x**y)

In [ ]:
#2: Comparison operators in Python
x = 10
y = 12
print(x>y)#False
print(x<y)#true
print(x==y)#false
print(x!=y)#true
print(x>=y)#false
print(x<=y)#true

In [ ]:
#3: Logical Operators in Python
x = True
y = False
print(x and y)#false
print(x or y)#true
print(not x)#false

In [ ]:
#4: Identity operators in Python
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
print(x1 is not y1)#false
print(x2 is y2)#true

In [ ]:
#5: Membership operators in Python
x = 'Hello world'
print('H' in x)#true
print('hello' not in x)#true

In [ ]:
# Assignment OPerators

q=5
s=6
s+=q#s=s+q
print(s)
s-=q#s=s-q
print(s)
s*=q#s=s*q
print(s)

In [ ]:
#OPERATOR PRECEDENCE
a = 20; b = 10; c = 15; d = 5
e = (a + b) * c / d #( 30 * 15 ) / 5
print (e)
e = ((a + b) * c) / d # (30 * 15 ) / 5
print (e)
e = (a + b) * (c / d)
print (e)

# Control Structures

In [ ]:
#IF-ELSE

a=5
b=3
if a < b:
 print("a is smaller than b")
else:
 print("a is larger than b")

In [ ]:
#if else if
a=input('Enter the value of a')
b=input('Enter the value of b')
c=input('Enter the value of c')
if(a>b and a>c):
    print("a is bigger")
elif(b>c):
    print("b is bigger")
else:
    print("c is bigger")

In [ ]:
#TERNARY OPERATOR
    
order_total = 200
discount = 25 if order_total > 100 else 0

In [ ]:
#Challenge

grade = input('What is your grade("A","B","C":)')
if(grade=='A'):
    print("Excellent")
elif(grade=='B'):
    print("Well Done")
elif(grade=='C'):
    print("Work Harder")
else:    
    print("I don't know your grade")

# Looping Statements

In [ ]:

#while  
a=1
while(a<10):
    print(a)
    a=a+1

In [ ]:
#FOR   
for x in [1, 2, 3, 4, 5]:
 print("x = ",x)
fruits = ['Durian', 'Banana','Orange','Apple']
for today_fruit in fruits:
 print ("Today food is ", today_fruit)

In [ ]:
#Range Function
a=set(range(1,5,2))
print(a)
b=list(range(-10,1,1))
print(b)


a = []
for i in range(1,11):
 a.append(i*i)

In [ ]:
#ENUMERATE
 person = ['Alfred', 'Ally', 'Belinda']
height = [170, 160, 155]
for i, name in enumerate(person):
 h = height[i]
 print("The height of {} is {}cm".format(name, h))

In [ ]:
#Zip
a=[1,2,3,4,5]
b=['a','b','c','d']
c=zip(a,b)
for i,j in c:
    print(i,j)

In [ ]:
#BREAK
for letter in 'Python':
 if letter == 'h':
  break
 print ('Current Letter :', letter)

In [ ]:
#CONTINUE
for letter in 'Python':
 if letter == 'h':
  continue
 print ('Current Letter :', letter)

In [ ]:
#ELSE IN LOOP
 x = [1, 2, 3, 4] 
 for i in x: 
     if i % 5 == 0: 
         break 
         print(i) 
     else: 
      print("no break")

In [ ]:
#Challenge
#Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200(both included)
for x in range(2000,3201):
    if((x%7==0)and(x%5!=0)):
        print(x)
x=7

In [ ]:
#5*4*3*2*1(factorial formula)
#7*6*5*4*3*2*1

#or
#1*2*3*4*5*6*7
#1*2*3*4*5

#Write a program which can compute the factorial of a givennumber.
n=5#similar to x=5
f=1#initialization
for x in range(1,n+1):#(1,6)
    f=f*x
print(f)