<a href="https://colab.research.google.com/github/nurfaiz88/Google-Colab/blob/main/Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#DAY 3

#NUMPY#NUMERICAL PYTHON#ARRAY
#For an RGB image, the pixel values are stored as a 3-dimensional array
import numpy as np
a=([1,2,3],[4,5,6])
b=np.array(a)
print(b)
print(b.shape)
print(b.ndim)
print(b.itemsize)
print(b.size)
print(type(b))
print(b.dtype)

In [ ]:
#Exercise 1
import numpy as np
x=np.array([1,2,3,4,5,6,7,8,9,10])
print(x)
a1=x.astype(int)
print(a1)
print(a1.dtype)
a2=x.astype(float)
print(a2)
print(a2.dtype)

In [ ]:
#Exercise 2
import numpy as np
x=(range(4),range(10,14))
arr=np.array(x)
print(arr)
print(arr.shape)
print(arr.size)
print(np.amax(arr))
print(np.amin(arr))

In [ ]:
#Exercise 3:
import numpy as n
x=([1,2,3],[4,5,6],[7,8,9])
arr=n.array(x)
print(arr)
print(arr.shape)
print(arr.size)
print(n.amax(arr))
print(n.amin(arr))
print(arr.ndim)
print(arr.itemsize)
print(arr.dtype)
s=n.ones((3,3))
print(s)
y=n.zeros((2,3,4))
print(y)
v=n.ones((2,3,4))
print(v)
f=n.arange(0,999,3)
print(f)

![image.png]()

In [ ]:
#SAMPLE:
import numpy as n
#v=n.ones((3,3))
v=n.array([1,2,3])
v2=n.array([1,1,1])
C=v*v2#Not matrix multiplication
print(C)
m=v.dot(v2)#Matrix multiplication
print(m)

#SAMPLE 2
import numpy as n
v=n.array([1,0,1])
v2=n.array([1,1,1])
print(n.logical_or(v,v2))

#Exercise 4:
import numpy as n
a=n.array([0,0,0,0,1])
b=n.array([1,1,1,1,0])
print(n.logical_and(a,b))
print(n.logical_not(a==0))
print(n.logical_not(b==0))

a=np.arange(12).reshape(3,4)
print(a)
b1=np.array([False,True,True])
b2=np.array([True,False,True,False])
z=a[b1,:]
z1=a[:,b2]
print(a[b1,b2])

#Exercise 5:
import numpy as np
arr=np.array([0,1,2,3,4,5,6,7,8,9])
x=arr<3
print(x)#prints the boolean values in the array that satisy the condition
y=arr[arr<3]
print(y)#prints the values in the array that satisy the condition
z=((arr < 3) | (arr > 8))
print(z)
print(arr[z])
result = np.where(((arr < 3) | (arr > 8)),arr*5,arr*-5)
print(result)


#Exercise 6:
import numpy as np
a=np.array([range(4),range(10,14)])
b=np.array([2,-1,1,0])
c=a*b
print(c)
b1=b*100
b2=b*100.0
print(b1)
print(b2)
print(b1==b2)
print(b1.dtype)
print(b2.dtype)

from numpy import array
var = np.array( [1, 3, 5] )
print('var = ' , var)
s = var.sum()
print('Sum result = ' , s)

1 2 3   
4 5 6
1 2 3
.sum=27
6
15
6

6 9 12


x = np.array([[1, 1], [2, 2]])
x.sum(axis=0)   # columns (first dimension)
x[:, 0].sum(), x[:, 1].sum()
x.sum(axis=1)   # rows (second dimension)
x[0, :].sum(), x[1, :].sum()


x = np.array([1, 3, 2])
x.min()
x.max()
x.argmin()  
x.argmax() 


x = np.array([1, 2, 3, 1])
y = np.array([[1, 2, 3], [5, 6, 1]])
x.mean()

np.median(x)

np.median(y, axis=-1)       # last axis

x.std()          
#Exercise 8
import numpy as np
#a=np.random.randint(size=(100,100))
#a1=np.array(a)
#print(a1)

a=np.random.randint(low=20,high=50,size=(100,100))#make all elements bigger than 20 and smaller than 50 equal to -1
print(a)
a1=a[1:4,1:5]#Exract a sub matrix
print(a1)


#Exercise 9
arr=np.arange(8)
print(arr)
arr1=arr.reshape(2,2,2)
print(arr1)
print(arr1.T)
print(arr1.ravel())
print(arr1.astype(float))
#Deep Copy
import numpy as np
a=np.arange(12)
print('Before')
print(a)
b=a
b[0]=500
print('After')
print(a)
print(b)


#Shallow Copy
import numpy as np
a=np.arange(12)
print('Before')
print(a)
b=a.copy()
b[0]=500
print('After')
print(a)
print(b)


#PANDAS
#PANDAS
#Create Series from the list
import pandas as pd
print(pd.Series([1,3,5,6]))
print(pd.Series([1,3,5,6],index=['A1','A2','A3','A4']))
#Create series from np as array
a=np.random.randn(100)*5+100
date=pd.date_range('20170101',periods=100)
s=pd.Series(a,index=date)
print(s)
#Create Series from Dictionary
a2={'A1':5,'A2':3,'A3':6,'A4':2}
s1=pd.Series(a2)
print(s1)
#Series Arithmetic
a3=pd.Series([1,2,3,4],index=['a','b','c','d'])
a4=pd.Series([4,3,2,1],index=['d','c','b','a'])
print(a3+a4)
print(a3-a4)
print(a3*a4)
print(a3/a4)
#Series Attributes
print(a3.index)
print(a3.values)
print(len(a3))
#viewing Series Data
print(s.head())
print(s.head(10))
print(s.tail())
print(s.tail(5))
#Selecting Data
print(a3['b'])
print(a3[2])
print(a3[['b','d']])#multiple select by label
print(a3[[1,3]])#multiple select by index integer

#Slicing Seriees Data
print(a3[1:4])#Slice items 1to 4
print(a3[:4])
print(a3[2:])

#Exercise 9
date=pd.date_range('20170101',periods=20)
s=pd.Series(np.random.randn(20),index=date)
print(s)
print(s['2017-01-05':'2017-01-10'])

# Create Data Frame from the list
d=[[1,2],[3,4]]
df=pd.DataFrame(d,index=[1,2],columns=['e','f'])
print(df)
#Create DF from Numpy Array
d=np.arange(24).reshape(6,4)
df=pd.DataFrame(d,index=np.arange(1,7),columns=list('ABCD'))
print(df)
#Create DF from Dictionary
print(pd.DataFrame({'name':['Ally','Jane','Belinda'],'height':[160,155,163]},columns=['name','height'],index=['A1','A2','A3']))
#Create DataFrame from np as array
date=pd.date_range('20170101',periods=6)
s=pd.Series(np.random.randn(6),index=date)
s1=pd.Series(np.random.randn(6),index=date)
df=pd.DataFrame({'Asia':s,'Europe':s1})
print(df)
#Exercise
v=pd.DataFrame({'name':['Ally','Jane','Belinda'],'height':[160,155,163],'age':[40,35,42]},columns=['name','height','age'],index=['A1','A2','A3'])
print(v)
print(v.shape)
print(v.columns)
print(v.index)
print(v.values)
#Append a new column
v['weight']=[45,56,44]
print(v)
#or
v.insert(0,'id',[1,2,3])
print(v)
#Series Arithmetic
a3=[[3,4],[5,6]]
a4=[[6,5],[4,3]]
b3=pd.DataFrame(a3,index=[1,2],columns=['d','b'])
b4=pd.DataFrame(a4,index=[3,2],columns=['c','b'])
print(b3)
print(b4)
print(b3+b4)
#Viewing Data
d=pd.DataFrame(np.random.randn(20,5))
print(d.head())
print(d.head(5))
print(d.tail())
print(d.tail(5))
#Selecting Data
print(v.iloc[2])#determine by position
print(v.loc['A1'])#determine by key label
#Slicing Seriees Data
print(v[0:1])#Slicing here only 0th item will be shown
print(v[:2])#here values until previous position to 2 will be displayed
print(v[2:])#values including 2 until last position-1 will be displayed
print(v.loc['A1']['height'])#Extract only with label A1 and column value height
print(v.iloc[2]['height'])#Extract value in position 2 at the column height


#CSV

r=pd.read_csv("C:/Users/arun/Desktop/iris.csv")
print(r)
print(r.head())
print(r.columns)
print(r.sepal_length[1:21])#Print only sepal length for first 20 values

#Excel
import pandas as pd
df = pd.read_excel("C:/Users/arun/Desktop/itrain python/iris.xls")
print(df.head(10))


#Filtering series from np as array
a=np.random.randn(10)*4+5
date=pd.date_range('20170101',periods=10)
s=pd.Series(a,index=date)
print(s>5)#Print the boolean results
print(s[s>5])#print the value results


# Filtering Dataframe
r=pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')
attributes = ["sepal_length", "sepal_width", "petal_length", "petal_width", "species"]
r.columns = attributes
print(r.head())
print(r.columns)
print(r.sepal_length[(r.species=='Iris-virginica')& (r.sepal_length >5.0)])#Prints the sepal length values for the species Iris Virginica and of sepal length >5.0

#HANDLING MISSING VALUES

missing=np.nan
s=pd.Series([3,4,missing,6,missing,8])
s.isnull()

mydata=pd.read_csv("C:/Users/arun/Desktop/itrain python/python/Titanic.csv")
print(mydata.head(5))
print(mydata.info())
# To check  Any missing values?
print(mydata.isnull().values.any())
#Counting missing data
mydata.isnull().sum()
#Filling the missing values with 0
z=mydata.fillna(0)
z.isnull().sum()#Counting missing data
#Fill the missing values with the previous value
y=mydata.fillna(method='ffill')
print(y.head(5))
m=mydata.fillna(method='bfill')#Fill the missing values with the next value
print(m.head(5))
#Remove na rows 
s=mydata.dropna()
print(s.head(5))
#Remove  columns having NA values 
f=mydata.dropna(axis=1)
print(f.head(5))
mydata.dropna(how='all')#Identify the rows that conatin all missing values 

# Duplicates
#Check for duplicates
print(mydata.duplicated())
#If duplicates present we can drop the duplicates by
c=mydata.drop_duplicates()
print(c)


#CONCAT Series
s1=pd.Series(['a','b'])
s2=pd.Series(['c','d'])
s3=pd.concat([s1,s2])
s3=pd.concat([s1,s2],keys=['s1','s2'])
print(s3)

#CONCAT DATAFRAME
data1 = {
        'id': ['1', '2', '3', '4', '5'],
        'Feature1': ['A', 'C', 'E', 'G', 'I'],
        'Feature2': ['B', 'D', 'F', 'H', 'J']}
dataf1 = pd.DataFrame(data1, columns = ['id', 'Feature1', 'Feature2'])
print(dataf1)
data2 = {
        'id': ['1', '2', '6', '7', '8'],
        'Feature1': ['K', 'M', 'O', 'Q', 'S'],
        'Feature2': ['L', 'N', 'P', 'R', 'T']}
dataf2 = pd.DataFrame(data2, columns = ['id', 'Feature1', 'Feature2'])
print(dataf2)
data3 = {
        'id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'Feature3': [12, 13, 14, 15, 16, 17, 15, 12, 13, 23]}
dataf3 = pd.DataFrame(data3, columns = ['id', 'Feature3'])
print(dataf3)
dataconcat=pd.concat([dataf1,dataf2])
print(dataconcat)#just concats as it is 0,1,2,3,4,0,1,2,3,4
dataconcat=pd.concat([dataf1,dataf2],ignore_index=True)
print(dataconcat)#concats by ignoring the index 0,1,2,3,4,5,6,7,8,9
dataconcat=pd.concat([dataf1,dataf2],keys=['x','y'])#concatthe data frame with unique keys for each dataframe
print(dataconcat)
print(dataconcat.loc['y'])
dconcolumn=pd.concat([dataf1,dataf2],axis=1)#concatenate DataFrames along column
print(dconcolumn)
#join
dajoin1=pd.merge(dataf1,dataf2,on='id',how='inner')
print(dajoin1)#prints only the rows that has common id in both data frames
dajoin2=pd.merge(dataf1,dataf2,on='id',how='outer')
print(dajoin2)#just merge two dataframes replacing Nan for the id that is not in the dataframe
#Sorting in dataframe
import numpy as np
d=np.random.randn(24).reshape(12,2)
print(d)
df=pd.DataFrame(d,columns=['a','b'])
print(df)
df1=df.sort_values(by=['a'])
print(df1)

#GROUP BY
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)
print(df)
print(df.describe())
df1=df.groupby('Team')
print(df1.groups)
print(df1.max())
df2=df.groupby('Year')
print(df2['Points'].agg(np.mean))

#Covariance is a measure of relationship between 2 variables. It measures the degree of change in the variables, i.e. when one variable changes, will there be the same/a similar change in the other variable. 
s=df[['Points','Rank']].cov()
print(s)
#Correlation (-1 to 1)
v=df[['Points','Rank']].corr()
print(v)

In [ ]:
import pandas as pd
print (pd.Series([1,3,5,6]))
print(pd.Series([1,3,5,6],index=['A1','A2','A3','A4']))

import numpy as np
import pandas as pd
a = np.random.randn(100)*5+100
date =pd.date_range('20170101',periods=100)
s = pd.Series(a,index=date)
print (s)


import pandas as pd
a = {'A1':5,'A2':3,'A3':6,'A4':2}
s = pd.Series(a)
print (a)


a = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
b = pd.Series([4, 3, 2, 1], index=['d', 'c', 'b', 'a'])
a + b # different from Python list
a - b
a * b
a/b

a.index
a.values
len(a)
a.head()# first 5 rows
a.head(3)# first 3 rows
a.tail()# last 5 rows
a.tail(2)#last 2 rows
print(b.iloc[3])
print(a[['b','d']])#multiple select by label
print(a[[1,3]])# multiple select by index integer
print(a[2:5])
print(a[2])
print(a[[2]])

#Exercise 9
date=pd.date_range('20170101',periods=20)
s=pd.Series(np.random.randn(20),index=date)
print(s)
print(s['2017-01-05':'2017-01-10'])


start:end
3:9
3:8

import pandas as pd
d = [[1,2],[3,4]]
df= pd.DataFrame(d,index=[1,2],columns=['a','b'])
print (df)


import pandas as pd
import numpy as np
d = np.arange(24).reshape(6,4)
df = pd.DataFrame(d, index=np.arange(1,7), columns=list('ABCD'))
print (df)


import pandas as pd
v=pd.DataFrame(
{
'name': ['Ally','Jane','Belinda'],
'height':[160,155,163],
},
columns = ['name','height'],
index = ['A1','A2','A3'])
v


import pandas as pd
date = pd.date_range('20170101',periods=6)
s1 = pd.Series(np.random.randn(6),index=date)
s2 = pd.Series(np.random.randn(6),index=date)
df = pd.DataFrame({'Asia':s1,'Europe':s2})
print (df)

print(v)
print(v.shape)
print(v.columns)
print(v.index)
print(v.values)
#Append a new column
v['weight']=[45,56,44]
print(v)



import pandas as pd a = [[3,4],[5,6]] b = [[6,5],[4,3]] a2 = pd.DataFrame(a,index=[1,2],columns=['d','b']) b2 = pd.DataFrame(b,index=[3,2],columns=['c','b']) print(a2+b2)


import pandas as pd
a = pd.DataFrame(np.random.randn(20,5))
print (a.head())
print (a.head(5))
print (a.tail())
print (a.tail(5))


df[['name','height']]
df.name
df[[1,2]]


print(v.iloc[0])
print(v.loc['Apple1']) 

df.iloc[1:3]
df.iloc[1:]
df.iloc[:3]


df.loc['A1']['height']
df.iloc[1]['height']


#IMPORT EXCEL DATA
sp500=pd.read_excel('C:/Users/arun/Desktop/ITRAIN/Saranya/Saranya/sp500.xlsx')
sp500.head()

#import csv file
df = pd.read_csv('C:/Users/arun/Desktop/ITRAIN/Saranya/Saranya/Social Influence on Shopping.csv')
df.head()

#Exercise
df1 = pd.read_csv('C:/Users/arun/Desktop/ITRAIN/Saranya/Saranya/twitter_airline_sentiment.csv')
df1.head()
df1.info()
df1.columns

df = pd.DataFrame([[2, 2, 2, 0],
[3, 3, 4, 4],
[3, 8, 5, 5],
[3, 3, 4, 4]],
columns = ['A', 'B', 'C', 'D'])
df.duplicated()
df.drop_duplicates()
df.drop_duplicates('A')

print(df1.duplicated())
print(df1.drop_duplicates())

print(df1.isnull().sum())

print("Percentage null or na values in df")
((df1.isnull() | df1.isna()).sum() * 100 / df1.index.size).round(2)
#tweet_coord , airline_sentiment_gold, negativereason_gold have more than 90% missing data. It will be better to delete these columns as they will not provide any constructive information.


del df1['tweet_coord']
del df1['airline_sentiment_gold']
del df1['negativereason_gold']
df1.head()

sp500=pd.read_excel('C:/Users/arun/Desktop/ITRAIN/Saranya/Saranya/sp500.xlsx',index_col ='Symbol', usecols=['Symbol','Sector','Price']))
sp500.head()

sp500[sp500.Price > 100]
sp500[sp500.Price == sp500.Price.max()]
sp500[(sp500.Price < 10) & (sp500.Price > 0)]




df = pd.DataFrame([[2, 2, 2, 0],
[3, 3, 4, 4],
[3, 8, 5, 5],
[3, 3, 4, 4]],
columns = ['A', 'B', 'C', 'D'])
df.duplicated()
df.drop_duplicates()
df.drop_duplicates('A')

by=desc

sp500 = pd.read_excel('C:/Users/arun/Desktop/ITRAIN/Saranya/Saranya/sp500.xlsx',index_col ='Symbol', usecols=['Symbol','Sector','Price'])
sp500[sp500.Price > 100]
sp500[sp500.Price == sp500.Price.max()]
sp500[(sp500.Price < 10) & (sp500.Price > 0)]

#GROUP BY
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)
print(df)
print(df.describe())
df1=df.groupby('Team')
print(df1.groups)
print(df1.max())
df2=df.groupby('Year')
print(df2['Points'].agg(np.mean))

In [ ]:
#plot


#CHART PROPERTIES
import numpy as np 
import matplotlib.pyplot as plt 
x = np.arange(0,10) 
print(x)
y = x**2 
print(y)
#Labeling the Axes and Title
plt.title("Graph Drawing") 
plt.xlabel("Time") 
plt.ylabel("Distance") 
# Formatting the line colors
#Line plot is mainly used to visualize a trend in data over intervals of time 
plt.plot(x,y,'r')
plt.plot(x,y,'bs')
plt.plot(x,y,'g^')
# Formatting the line type  
plt.plot(x,y,'>')
#Sample
plt.figure(figsize=(15,5))#specify the size of the figure using method figure() with the values as the length of rows and columns 
plt.plot([1,2,3],[4,5,1])
#Multiple plots in one fiqure
x=np.arange(1,5)
print(x)
y=x**3
print(y)
plt.subplot(2,1,1)
plt.plot(x,y,'r^')
plt.title('\n1stSubplot')

plt.subplot(2,1,2)
plt.plot([1,2,3,4],[1,4,9,16],'go')
plt.title('2ndSubplot')
plt.suptitle("My Sub plot")
plt.tight_layout()
plt.show()


#DIFFERENT GRAPHS
#BAR GRAPH
#The x-axis represents the categories and are spaced evenly. The y-axis represents the quantity for each category 
import numpy as np
import matplotlib.pyplot as plt 
# Our data
labels = ["JavaScript", "Java", 
"Python", "C#"]
usage = [69.8, 45.3, 38.8, 34.4]
# Creating our bar plot
plt.bar(labels, usage,color="red")
plt.xlabel("Programming language")
plt.ylabel("Usage (%)")
plt.title("Programming language usage")
plt.show()


#SCATTER PLOT
#A scatter plot (or ‘scatterplot’) is generally used to summarize the relationship between two paired data samples.
#Paired data samples means that two measures were recorded for a given observation, such as the weight and height of a person.
import numpy as np
import matplotlib.pyplot as plt 
temp = [30, 32, 33, 28.5, 35, 29, 29]
ice_creams_count = [100, 115, 115, 75, 125, 79, 89]
#plt.plot(temp, ice_creams_count)
plt.scatter(temp, ice_creams_count)
plt.title("Temperature vs. Sold ice creams")
plt.xlabel("Temperature")
plt.ylabel("Sold ice creams count")
plt.show()

#histogram
#Histogram plot is generally used to summarize the distribution of a data sample.
#The x-axis represents discrete bins or intervals for the observations.
import pandas as pd
r=pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')
attributes = ["sepal_length", "sepal_width", "petal_length", "petal_width", "species"]
r.columns = attributes
r.hist(bins=12,color='red')
plt.show()

#Pie Chart
import numpy as np
import matplotlib.pyplot as plt 
sizes = [25, 20, 45, 10]
labels = ["Cats", "Dogs", "Tigers", "Goats"]
plt.pie(sizes, labels = labels, autopct = "%.2f")
plt.show()

#Violin PLot
import pandas as pd
import seaborn as sns
sns.set()
r=pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')
attributes = ["sepal_length", "sepal_width", "petal_length", "petal_width", "species"]
r.columns = attributes
sns.violinplot(x='species',y='petal_length', data=r)
plt.show()

#HEATMAPS
# Create a dataset 
df = pd.DataFrame(np.random.random((5,5)), columns=["a","b","c","d","e"])
print(df)
# Default heatmap: just a visualization of this square matrix
p1 = sns.heatmap(df)


#BOXPLOT
sns.boxplot( y=r["sepal_length"] )
plt.show()
sns.boxplot( x=r["species"], y=r["sepal_length"] )
plt.show()

#Swarm plot
sns.swarmplot(x='species',y='petal_length', data=r)
plt.show()

#Distribution plot
x = np.random.randn(100)
ax = sns.distplot(x)

#Rug plot
ax=sns.distplot()
ax = sns.distplot(x, rug=True, hist=False)

#Joint Plot
import seaborn as sns
g = sns.jointplot("sepal_width", "petal_length", data=r, color="g")
 
#Pair plot
sns.pairplot(r)


#countplot
sns.countplot(x="species",data=r)


#Strip plot
sns.stripplot(x='species',y='petal_length', data=r,jitter=0.5)
plt.show()


#BASIC ANNOTATION
import numpy as np
x = np.arange(0,10) 
y = x ^ 2 
z = x ^ 3
t = x ^ 4 
# Labeling the Axes and Title
plt.title("Graph Drawing") 
plt.xlabel("Time") 
plt.ylabel("Distance") 
plt.plot(x,y)

#Annotate
plt.annotate(xy=[2,1], s='Second Entry') 
plt.annotate(xy=[4,6], s='Third Entry')