<a href="https://colab.research.google.com/github/nurfaiz88/Google-Colab/blob/main/Day_3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
squares = [x * x for x in (1,2,3,4)]
print (squares)

[1, 4, 9, 16]

In [ ]:
squares = []
for x in (1,2, 3, 4):
  squares.append(x * x)
print(squares)

[1, 4, 9, 16]

In [ ]:
s1 = [s.upper() for s in 'hello' if s == 'h']
print(s1)

['H']

In [ ]:
s1=[]
for s in 'hello':
  if(s=='h'):
    s1.append(s.upper())
print(s1)

['H']

In [ ]:
s2 = [s if s in 'arial' else '*' for s in 'apple']
print(s2)

['a', '*', '*', 'l', '*']

In [ ]:
s1=[]
for s in 'apple':
  if(s in 'arial'):
    s1.append(s)
  else:
    s1.append('*')
print(s1)

['a', '*', '*', 'l', '*']

In [ ]:
x1=[]
result=[]
for x in range(1,20):
  x1.append(x*x)
for a in x1:
  if(a%3!=0):
    result.append(a)
print(result)

[1, 4, 16, 25, 49, 64, 100, 121, 169, 196, 256, 289, 361]

In [ ]:
result=[a  for a in x1 if a%3 != 0]
print(result)

[1, 4, 16, 25, 49, 64, 100, 121, 169, 196, 256, 289, 361]

In [ ]:
text="Today is a great day"
w=text.split()
x1=[]
for x in w:
  x1.append(x[0])
print(x1)

['T', 'i', 'a', 'g', 'd']

In [ ]:
x1=[x[0] for x in text.split()]
print(x1)

['T', 'i', 'a', 'g', 'd']

In [ ]:
#Use list comprehension to return a list of odd numbers in the range 0 - 10

In [ ]:
x1=(x[0] for x in text.split())
print(x1)
next(x1)

<generator object <genexpr> at 0x7efcbcbcb5d0>

'T'

In [ ]:
for a in x1:
  print(a)

In [ ]:
a = (n*n for n in range(10))
next(a)

for x in a:
 print(x)

In [ ]:
def range2(n):
  for i in range(n):# n= 5 range(5)  => 0,1 ,2 ,3,4
    if i%2 == 0:
      yield i

print(range2(10))
next(range2(10))

<generator object range2 at 0x7efcbcc7ab50>

0

In [ ]:
for i in range2(10):
  print(i)

0
2
4
6
8

In [ ]:
import sample

ModuleNotFoundError: ignored

In [ ]:
2/0

ZeroDivisionError: ignored

In [ ]:
try:
  a = 2/0
except ZeroDivisionError:
  print ("Dont use the 0 as your divisor")
else:
  print ("Correct ....")

Dont use the 0 as your divisor

In [ ]:
try:
  a = [1, 2, 3]
  b = a[8]
except IndexError:
  print("give index values within the range")
else:
  print(b)

give index values within the range

In [ ]:
import math
help(math)

In [ ]:
dir(math)

In [ ]:
# Instance attributes
class Shark:
  def __init__(self, name):
    self.name = name
  def swim(self):# Reference the name#Instance Method
    print(self.name + " is swimming.")
  def be_awesome(self):
    print(self.name + " is being awesome.")
  

sammy = Shark("Sammy")
sammy.swim()
sammy.be_awesome()

Sammy is swimming.
Sammy is being awesome.

TypeError: ignored

In [ ]:
# Class attributes
class Shark:
  species = 'fish'
  def __init__(self, name):
    self.name = name

sammy = Shark("Sammy")
print(sammy.species)
stevie = Shark("Stevie")
stevie.species="banana"
print(stevie.species)

fish
banana

In [ ]:
class Dog:
  height=12
  weight=13
  color='black'
  def __init__(self,name):
    self.name=name
  


shitzu=Dog("Shitzu")
print(shitzu.height)
shitzu.height=10
shitzu.weight=15
print(shitzu.height)
print(shitzu.weight)

12
10
15

In [ ]:
class Dog:
    species = "Canis familiaris"

    def __init__(self, name, age):
        self.name = name
        self.age = age

    # Instance method
    def description(self):
        return f"{self.name} is {self.age} years old"

    # Another instance method
    def speak(self, sound):
        return f"{self.name} says {sound}"

In [ ]:
miles = Dog("Miles", 4)

In [ ]:
miles.description()

'Miles is 4 years old'

In [ ]:
miles.speak("woof")

'Miles says woof'

In [ ]:
class Dog: #class declaration
    species = "Canis familiaris"# class attributes

    def __init__(self, name, age):#instance default method
        self.name = name  #storing value
        self.age = age

    def __str__(self):#instance default method
        return f"{self.name} is {self.age} years old" #returnng the value

    def speak(self, sound):#objectname.speak("sound value")
        return f"{self.name} says {sound}"

In [ ]:
class Bulldog(Dog):
    pass

In [ ]:
jack = Bulldog("Jack", 3)

In [ ]:
print(jack)

Jack is 3 years old

In [ ]:
jack.speak("yap")

'Jack says yap'

In [ ]:
#Inheritance
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

In [ ]:
x = Person("John", "Doe")
x.printname()

John Doe

In [ ]:
# Python program to demonstrate
# use of class method and static method.
from datetime import date

class Person:
	def __init__(self, name, age): #test1=Person(x) # instance method
		self.name = name
		self.age = age
	
	# a class method to create a Person object by birth year.# whenever you run class method the value will be return to 
	@classmethod
	def fromBirthYear(cls, name, year):
		return cls(name, date.today().year - year)
	
	# a static method to check if a Person is adult or not.
	@staticmethod
	def isAdult(age):
		return age > 18

In [ ]:
person1 = Person('mayank', 21)
person2 = Person.fromBirthYear('mayank', 1996)#class method

print (person1.age)
print (person2.age)

# print the result
print (Person.isAdult(22))

21
26
True

In [ ]:
sample=Person.fromBirthYear('Sam',1990)
print (sample.age)
print (sample.age)

NameError: ignored

In [ ]:
class Professor:
  def __init__(self, name, age, address):
    self.name = name
    self.age = age
    self.address = address
  def __str__(self):
    return f'ph.{self.name}, age: {self.age}, address: {self.address}'
class Department:
  def __init__(self, name, prof):
      self.name = name
      self.prof = prof
  def __str__(self):
      return f'Department of {self.name}, {self.prof}'

In [ ]:
prof = Professor('Edward', 56, 'London')

dep = Department('Science', prof)

print(dep)

Department of Science, ph.Edward, age: 56, address: London

In [ ]:
#Abstarction
# Python program demonstrate  
# abstract base class work   
from abc import ABC, abstractmethod   
class Car(ABC):   
    def mileage(self):   
        pass  
  
class Tesla(Car):   
    def mileage(self):   
        print("The mileage is 30kmph")   
class Suzuki(Car):   
    def mileage(self):   
        print("The mileage is 25kmph ")   
class Duster(Car):   
     def mileage(self):   
          print("The mileage is 24kmph ")   
  
class Renault(Car):   
    def mileage(self):   
            print("The mileage is 27kmph ")   
          
# Driver code   
t= Tesla ()   
t.mileage()   
  
r = Renault()   
r.mileage()   
  
s = Suzuki()   
s.mileage()   
d = Duster()   
d.mileage()

The mileage is 30kmph
The mileage is 27kmph
The mileage is 25kmph
The mileage is 24kmph

In [2]:
class Person: 
  def __init__(self, person_name, person_age): 
    self.name = person_name
    self.age = person_age
  def show_name(self): 
    print(self.name) 
  def show_age(self): 
    print(self.age)

class Student(Person): 
  def __init__(self, student_name, student_age, student_id): 
    super().__init__(student_name, student_age) 
    self.student_id = student_id
  def get_id(self): 
    return self.student_id

person1 = Person("Richard", 23) 
person1.show_age() #23
student1 = Student("Max", 22, "102")
print(student1.get_id()) #102
print(student1.show_name()) #Max

23
102
Max
None

In [ ]:
dir(ABC)

['__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '_abc_impl']

In [ ]:
#WRITE FILES
fo=open("foo.txt","w")
fo.write("Python is great")
fo.close()

In [ ]:
#READ A FILE
# Opening 
fo = open("foo.txt", "r") 
# Reading 
str1 = fo.read() 
print ("Read String is : ", str1) 
# Closing 
fo.close()

In [ ]:
#JSON
#JSON
data = { "firstName": "Jane", "lastName": "Doe", "hobbies": ["running", "sky diving", "singing"], "age": 35, "children": [ { "firstName": "Alice", "age": 6 }, { "firstName": "Bob", "age": 8 } ] }

import json 
type(data)#Data Type is Dictionary

# serialize 
jsonserial= json.dumps(data, indent=2) 
print(jsonserial)
type(jsonserial)#Data Type is json string

# deserialize 
jsondeserial = json.loads(jsonserial) 
print(jsondeserial)
type(jsondeserial)# Data type is Dictionary

In [ ]:
#WEB SCRAPING
import requests
response=requests.get('http://www.hubertiming.com/results/2017gptr10k')
print(response.status_code)
print(response.text)
import bs4
soup = bs4.BeautifulSoup(response.text,'lxml')

title = soup.title
print(title)
# Print out the text
text = soup.get_text()
#print(soup.text)
soup.find_all('a')
all_links = soup.find_all("a")
for link in all_links:
    print(link.get("href"))
# Print the first 10 rows for sanity check
rows = soup.find_all('tr')
print(rows[:10])
for row in rows:
    row_td = row.find_all('td')
print(row_td)
type(row_td)
str_cells = str(row_td)
cleantext = bs4.BeautifulSoup(str_cells, "lxml").get_text()
print(cleantext)
import re
import pandas as pd
list_rows = []
for row in rows:
    cells = row.find_all('td')
    str_cells = str(cells)
    clean = re.compile('<.*?>')
    clean2 = (re.sub(clean, '',str_cells))
    list_rows.append(clean2)
print(clean2)
type(clean2)
# The next step is to convert the list into a dataframe and get a quick view of the first #10 rows using Pandas.
df = pd.DataFrame(list_rows)
df.head(10)

# Data Manipulation and Cleaning
df1 = df[0].str.split(',', expand=True)
df1.head(10)
df1[0] = df1[0].str.strip('[')
df1.head(10)
#Scraping the header fields
col_labels = soup.find_all('th')
all_header = []
col_str = str(col_labels)
cleantext2 = bs4.BeautifulSoup(col_str, "lxml").get_text()
all_header.append(cleantext2)
print(all_header)
df2 = pd.DataFrame(all_header)
df2.head()
df3 = df2[0].str.split(',', expand=True)
df3.head()
frames = [df3, df1]
df4 = pd.concat(frames)
df4.head(10)
df5 = df4.rename(columns=df4.iloc[0])
df5.head()
df5.info()
df5.shape
df6 = df5.dropna(axis=0, how='any')
df7 = df6.drop(df6.index[0])
df7.head()
df7.rename(columns={'[Place': 'Place'},inplace=True)
df7.rename(columns={' Team]': 'Team'},inplace=True)
df7.head()
df7['Team'] = df7['Team'].str.strip(']')
df7.head()